body {
    background-color: grey;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list {
    margin-top: 50%;
}

.submit input[type=text] {
    padding: .5rem;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    max-width: 80%;
    border-radius: .75rem 0 0 .75rem;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    overflow: auto;
    outline: none;
}


.submit button[type=submit] {
    padding: .5rem;
    /* float: right; */
    cursor: pointer;
}

