body {
    background-color: grey;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list {
    padding-top: 50%;
}

.submit input[type=text] {
    padding: .5rem;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
    border-radius: .75rem;
}

